
<br>
<div class="container-fluid">
  <div class="panel panel-info">
    <div class="panel panel-heading">
      <h3>{{metaname}}</h3>
    </div>
    <div class="panel panel-body">

      <table class="table table-condensed">
        <thead>

         {{!-- {{Header column}} --}}
          <tr>
         {{#each metadata as |metadata|}}
           <th>{{metadata.name}}</th>
         {{/each}}
         </tr>

        </thead>
       <tbody>

        {{!-- {{Result books displayed below}} --}}
        {{#each dat as |mitem|}}
           <tr>
           {{#each-in mitem as |mm m1|}}
            {{#if (not-eq mm 'id')}}
           <td>{{m1}}</td>
            {{/if}}
           {{/each-in}}
            <td><button class='btn btn-danger' {{ action 'delrow' mitem.id }}><span class="glyphicon glyphicon-remove"></span></button></td>
           </tr>
        {{/each}}

        <tr id="addrow" >
         {{#each metadata as |metadata|}}
           <td><input id='adr{{metadata.name}}' type='text' class='form-control' {{action 'loadVal' metadata.name on='keyUp'}}></td>
         {{/each}}
          <td><button class='btn btn-success' {{action 'addrow'}}><span class="glyphicon glyphicon-plus"></span></button></td>
        </tr>

       </tbody>
    </table>

    </div>
    <div class="panel panel-footer">
      <div class="container-fluid">
              <button class='btn btn-primary pull-right' {{action 'SaveNow'}}><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
      </div>
    </div>
  </div>
</div>
<br>

